{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <img src="{% static 'default/img/Главная.jpg' %}">
       <h5>Рады вас приветствовать в нашем "Rent Cars service"<br>
            В меню "Аренда автомобилей" вы можете узнать какие автомобили есть в наличии,
            и забронировать автомобиль буквально за пару кликов.
            Предварительно,пройти форму регистрации!
            Также мы настоятельно рекомендуем оставить ваш отзыв, в какой форме он будет записан абсолютно неважно,
           мы вполне адекватно относимся к критике.
           <br>Постоянным клиентам мы предоставляем скидку в 15%
           <br>Приведи друга: получи бонусы на дополнительные часы аренды</h5>

        <a href="{% url 'rent' %}" class="btn btn-warning">Перейти к каталогу автомобилей</a>
    </div>
{% endblock %}